@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  font-family: ACCchildrenheartOTF-Regular;  
} 

/* 프로젝트용 css 시작 */
button:focus {
  outline: none !important;
}
.vs-card--content > p {
    margin-top:10px;
}
/* 프로젝트용 css 끝 */

 /* alert 시작*/
.vs-alert {
  padding: 0% 0% !important;
  border-radius: 0px 5px 5px 0px !important;
}
.vs-alert.text-align-left {
    text-align: initial !important;
}
.vs-alert:after {
    content: "";
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: rgba(var(--vs-primary),.4) !important;
}

/* 타이틀 */
.vs-alert > h4 {
    font-weight: 900 !important;
    font-size: 1.02rem !important;
    box-shadow: 0 0px 0px 0px rgba(var(--vs-primary),.7) !important;
}

/* 클로즈아이콘 */
.vs-alert--close:hover {
    box-shadow:none !important;
}
.con-x {
    background: none !important;
    color: rgba(var(--vs-primary),1) !important;
    cursor: inherit !important;
}

/* 콘텐츠 */
.vs-alert > div.vs-alert {
    width: 100% !important;
    padding:10px !important;
    font-weight: 100 !important;
}

/* 콘텐츠아이콘 */
.vs-alert.con-icon {
  padding-left: 0px !important;
}
/* alert 끝 */

/* avatar 시작 */
.con-vs-avatar {
    border-radius: 25% !important;
}
.vs-avatar--count.badgeNumber {
    top: -35% !important;
    right: -20% !important;
}
/* avatar 끝 */

/* button 시작 */
.vs-button {
    border-radius: 12px !important;
}
.vs-button-primary.vs-button-border {
    border:2px solid rgba(var(--vs-primary),1) !important; 
}
/* button 끝 */

/* checkbox 시작 */
.vs-checkbox {
    width:15px !important;
    height:15px !important;
    border-radius: 30% !important;
    padding: 2.2% !important;
}
.vs-checkbox--check {
    height: initial !important;
}
.vs-checkbox--icon {
    font-size:16px !important;
}
/* checkbox 끝 */

/* collapse 시작 */
.shadow.vs-collapse > .open-item {
    box-shadow: 0 10px 5px 0 rgb(0 0 0 / 5%) !important;
}
/* collapse 끝 */

/* dialogs 시작 */
.vs-dialog {
    border-radius: 20px !important;
}
.con-vs-dialog .vs-dialog-header {
    padding: 1% 0%;
    background: none !important;
}
.con-vs-dialog span.after {
    display:none !important;
}
.con-vs-dialog .dialog-title {
    text-align: center !important;
}
.vs-dialog .vs-dialog-header {
    color:initial !important;
}
.vs-dialog footer {
    padding:2% 0% !important;
}
.vs-dialog footer button {
    font-size:12.8px;
    margin: 0% 1% !important;
    height:34px;
}
/* dialogs 끝 */

/* input 시작 */
.vs-input {
    padding: 7px 10px 7px 13px !important;
}
.vs-inputx {
    border-radius: 12px !important;
    border: 2px solid transparent !important;
    background: #f0f2f3 !important;
    color: rgba(var(--vs-text),1) !important;
    -webkit-transition: all .25s ease !important;
    transition: all .25s ease !important;
    /* padding: 7px 0.8rem 7px 0.8rem !important; */
}
.vs-input.isFoucs .vs-input--input:focus {
    border: 2px solid transparent !important;
}
.vs-input--input:focus {
    box-shadow: none !important;
}
.vs-input--placeholder {
    text-align: left !important;
}
.vuesax-app-is-ltr .vs-input--label {
    display: flex !important;
    font-size: 0.7rem !important;
}
.icon-inputx {
    font-size:1rem !important;
}
.is-focus .vs-input--placeholder {
    padding:0px !important;
}
.input-icon-validate > i {
    font-size:1rem !important; 
}
.span-text-validation {
    text-align: left !important;
}
/* input 끝 */

/* loadling 시작 */
.con-vs-loading {
    position:absolute !important;
}
.vs-loading.default .effect-1 {
    position: absolute !important;
    width: 80% !important;
    height: 80% !important;
    border: 3px solid rgba(var(--vs-primary),1) !important;
    border-radius: none !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -webkit-animation: corners 1s ease infinite !important;
    animation: corners 1s ease infinite !important;
}
.vs-loading.default .effect-3, .vs-loading.default .effect-2 {
    display:none !important;
}
/* loadling 끝 */

/* notifications 시작 */
.vs-notifications {
    --vs-color: var(--vs-background) !important;
    --vs-border: var(--vs-background) !important;
    --vs-opacity: .6 !important;
    padding:13px !important;
    border-radius: 20px !important;
    -webkit-box-shadow: 0 10px 30px -5px rgba(0,0,0,var(--vs-shadow-opacity)) !important;
    box-shadow: 0 10px 30px -5px #b0b2b3 !important;
    overflow: hidden !important;
    -webkit-clip-path: circle(145% at 100% 50%) !important;
    clip-path: circle(145% at 100% 50%) !important;
    background: rgba(var(--vs-color),1) !important;
    /* color: rgba(var(--vs-text),1) !important; */
    margin: 3px 10px !important;
}
.vs-notifications h3 {
    font-size: 1rem !important;
}
.vs-notifications p {
    font-size: 0.75rem !important;
    line-height: 1.15rem !important;
}
/* notifications 끝 */

/* pagination 시작 */
.vs-pagination--li.is-current .effect {
    border-radius: 12px !important;
    -webkit-transition: all .25s ease !important;
    transition: all .25s ease !important;
    color: #fff;
    -webkit-box-shadow: 0 5px 20px 0 rgba(var(--vs-color),.3) !important;
    box-shadow: 0 5px 20px 0 rgba(var(--vs-color),.3) !important;
    cursor: default !important;
}
/* pagination 끝 */

/* select 시작 */
.input-select {
    /* padding: 7px 10px 7px 13px !important; */
}
.input-select {
    border-radius: 12px !important;
    border: 2px solid transparent !important;
    background: #f0f2f3 !important;
    color: rgba(var(--vs-text),1) !important;
    -webkit-transition: all .25s ease !important;
    transition: all .25s ease !important;
    /* padding: 7px 0.8rem 7px 0.8rem !important; */
}
.con-select {
    text-align: left !important;
}
.vs-select--item {
    -webkit-transition: all .25s ease !important;
    transition: all .25s ease !important;
    color: rgba(var(--vs-text),1) !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,var(--vs-shadow-opacity)) !important;
    box-shadow: 0 0 0 0 rgba(0,0,0,var(--vs-shadow-opacity)) !important;
    align-items: cneter !important;
    border: none !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    font-size:0.89rem !important;
}
.vs-select--item:hover {
    border: none !important;
    /* color: rgba(var(--vs-primary),1) !important; */
}
.vs-select--item:hover span {
    display:block;
    transition: all .4s  !important;
    transform: translate(5px, 0px) !important;
}
.vs-select--item.activex i {
    font-size: 1em !important;
}
.vs-select-primary .vs-select--item.activex i {
    color:rgba(var(--vs-primary),1) !important;
}
.vs-select--options .vs-component {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}
/* select 끝 */